@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");

.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.image {
  width: 95%;
  max-width: 700px;
}

.con {
  font-family: "Source Sans Pro";
  font-size: 2.5rem;
  padding: 40px 0px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3151FF;
  text-align: center;
}
