.footer{
    background-color: #000;
    color: #fff;
    font-family: "Source Sans Pro";
    width: 100%;
}
.footer_services{
    display: inline-block;
    width: 40%;
}
.contact{
    display: inline-block;
    width: 50%;
}

.footer_services_heading{
    width: 80%;
    margin: 20px auto;
    font-size: 22px;
    font-weight: 400;
}
.footer_services_container{
    width: 80%;
    margin: 0px auto;
}
.services_name{
    display: inline-block;
    width: 48%;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 400;
}
.contact_heading{
    width: 90%;
    margin: 20px auto;
    font-size: 22px;
    font-weight: 400;
}
.contact_container{
    width: 90%;
    margin: 0px auto;
    font-size: 15px;
    font-weight: 400;
}
.contact_lines{
    padding: 4px 0px;
}
.footer_line_break{
    background-color: #fff;
    width: 92%;
    height: 2px;
    margin: 20px auto;
}
.copyright{
    width: 90%;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
    margin: auto;
}
@media only screen and (max-width: 1024px) {
    .footer_services{
        width: 60%;
    }
    .contact{
        width: 40%;
    }
}
@media only screen and (max-width: 840px) {
    .footer_services{
        width: 70%;
    }
    .contact{
        width: 30%;
    }
}
@media only screen and (max-width: 640px) {
    .footer{
        display: grid;
        grid-template-areas: "ser con" "lin lin" "cop cop";
        grid-template-rows: 1fr 30px 50px;
        grid-template-columns: 1.5fr 1fr;
    }
    .footer_services{
        width: 100%;
        grid-area: ser;
    }
    .contact{
        width: 100%;
        height: 100%;
        grid-area: con;
    }
    .footer_services_heading{
        width: 90%;
    }
    .footer_services_container{
        width: 90%;
        margin: 0px auto;
    }
    .services_name{
        display: block;
        width: 100%;
        padding: 10px 0px;
    }
    .footer_line_break{
        grid-area: lin;
    }
    .copyright{
        grid-area: cop;
    }
}